@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
    font-family: 'Lato', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;

}

.container {
    display: flex;
}

.productBox {
    flex: 4;
}


.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 250px;
    height: 250px;
}